$white: #fff;
$green: #afe9bf;
$red: #c43331;
$blue: #90cbe9; 
$dark-blue:#0000ff;

table, th, td {
  border: 1px solid black;
  width: 550px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin: 25px 500px 50px 565px;
}
td, th{
  padding: 2px;
}

.blueclass{
  background-color:$blue;
}

.whiteclass{
  background-color: $white;
}

.greenclass{
    background-color:$green;
}


.bluepriceclass{
  color:$dark-blue;
}
.redpriceclass{
  color:$red ;
  
}